# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


/data/*
!/data/epivan
/data/epivan/*
!/data/epivan/pbc_IMR90
!/data/epivan/PBC

/model

__pycache__/